In [22]:
#Importing Libraries
#For rainfall
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [23]:
#Loading Data from CSV file
dataset = pd.read_csv('Weather.csv')

In [24]:
dataset.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [25]:
#Check if table has missing values
pd.isnull(dataset).any(1).nonzero()[0]

C:\Users\Angad\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead

array([18415, 18416, 21067], dtype=int64)

In [26]:
dataset.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [27]:
#Drop rows that have missing values
dataset.drop(pd.isnull(dataset).any(1).nonzero()[0], inplace = True)

C:\Users\Angad\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.nonzero() is deprecated and will be removed in a future version.Use Series.to_numpy().nonzero() instead

In [28]:
dataset=dataset.drop(['DATE'],axis=1)
dataset=dataset.drop(['TMAX'],axis=1)
dataset=dataset.drop(['TMIN'],axis=1)

In [29]:
dataset

       PRCP   RAIN
0      0.47   True
1      0.59   True
2      0.42   True
3      0.31   True
4      0.17   True
5      0.44   True
6      0.41   True
7      0.04   True
8      0.12   True
9      0.74   True
10     0.01   True
11     0.00  False
12     0.00  False
13     0.00  False
14     0.00  False
15     0.00  False
16     0.00  False
17     0.00  False
18     0.00  False
19     0.00  False
20     0.00  False
21     0.21   True
22     0.00  False
23     0.10   True
24     0.00  False
25     0.00  False
26     0.00  False
27     0.00  False
28     0.22   True
29     0.03   True
...     ...    ...
25521  0.46   True
25522  0.16   True
25523  0.00  False
25524  0.00  False
25525  0.58   True
25526  0.63   True
25527  1.14   True
25528  0.52   True
25529  0.20   True
25530  0.01   True
25531  0.19   True
25532  0.25   True
25533  0.00  False
25534  0.68   True
25535  0.00  False
25536  0.27   True
25537  0.27   True
25538  0.79   True
25539  0.05   True
25540  0.00  False
25541  0.00  False
25542  0.00  False
25543  0.00  False
25544  0.00  False
25545  0.00  False
25546  0.00  False
25547  0.00  False
25548  0.00  False
25549  0.00  False
25550  0.00  False

[25548 rows x 2 columns]

In [36]:
def replace_yn(val):
    if val == 'False':
        return 0
    else:
        return 1

In [38]:
# normalizing the data (1 for yes & 0 for no)
dataset['RAIN']     = dataset['RAIN'].apply(replace_yn, 1)

In [39]:
dataset.head()

   PRCP  RAIN
0  0.47     1
1  0.59     1
2  0.42     1
3  0.31     1
4  0.17     1

In [40]:
r=dataset.drop(['RAIN'],axis=1)

a=dataset.drop(['PRCP'],axis=1)

In [41]:
#splitting the data into train and test
from sklearn.model_selection import train_test_split
r_train, r_test, a_train, a_test = train_test_split(r, a, test_size=0.2)

In [42]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
scalerx = StandardScaler()
scalery = StandardScaler()
r_train = scalerx.fit_transform(r_train)
r_test  = scalery.fit_transform(r_test)

In [43]:
#Create a Gaussian Classifier
gnb = GaussianNB()

In [44]:
#Train the model using the training sets
gnb.fit(r_train, a_train)

C:\Users\Angad\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [84]:
a_predict=gnb.predict(r_test)

In [85]:
a_predict

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [86]:
a=[0]

In [87]:
d=pd.DataFrame(a)

In [88]:
d=scalerx.transform(d)

C:\Users\Angad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [89]:
p=gnb.predict(d)

In [90]:
p

array([1], dtype=int64)

SyntaxError: unexpected EOF while parsing (<ipython-input-91-84523a84739b>, line 2)