In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
df=pd.read_csv("Riyadh_weather.csv")
df.head()

       date  Temperature_Max  Dew_Point_Max  Humidity_Max  Pressure_Max
0  1/1/2008               78             36            53         30.15
1  1/2/2008               80             39            41         30.06
2  1/3/2008               80             43            58         30.09
3  1/4/2008               71             57            82         30.09
4  1/5/2008               66             57            94         30.18

In [2]:
df=df.drop(['date'],axis=1)

In [3]:
df.head()

   Temperature_Max  Dew_Point_Max  Humidity_Max  Pressure_Max
0               78             36            53         30.15
1               80             39            41         30.06
2               80             43            58         30.09
3               71             57            82         30.09
4               66             57            94         30.18

In [4]:

y=df.drop(['Humidity_Max','Dew_Point_Max'],axis=1)

x=df.drop(['Temperature_Max','Pressure_Max'],axis=1)

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.15)

In [7]:
type(x_train)

pandas.core.frame.DataFrame

In [8]:
from sklearn.linear_model import LinearRegression
clf=LinearRegression()

In [9]:
clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
clf.score(x_test,y_test)

0.8174269890602767

In [18]:
b=([[36,53]])

TypeError: 'DataFrame' object is not callable

In [16]:
b=pd.DataFrame(b)

In [20]:
clf.predict(b)

array([[76.86601445, 30.15318602]])